body
    {
        background-color: rgb(141, 141, 241);
        font: normal 15pq Arial;
    }
header
{
    color: white;
    text-align: center;
}
section
{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.37);
}
footer
{
    color: white;
    text-align: center;
    font-style: italic;
}
div#msgHour
{
    text-align: center;
    padding: 5px;
    font-style:oblique;
}
div#img
{
    text-align: center;
    padding: 5px;
}